/***********************************************************************************/
/* CSS Buttons */
/***********************************************************************************/

// Button Container Layout

.button-container {
	margin: 0;

	&--left {
		text-align: left;
		margin-right: auto;
	}

	&--center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	&--right {
		text-align: right;
		margin-left: auto;
	}

	&--text {
		margin: rem(6) 0;
	}
}

// Button Styles

a.btn, input.btn, form .nf-form-content input[type=button] {
	border: 1px solid transparent;
	border-radius: 0;
	display: inline-block;
	@include secondary-font;
	font-size: rem(18);
	font-weight: 700;
	letter-spacing: normal;
	line-height: 1em;
	min-width: 150px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	transition: color 0.25s ease-in-out, border 0.25s ease-in-out, background 0.25s ease-in-out;
	-webkit-appearance: none;

	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
}

// Sizing

a.btn.btn--sm, input.btn.btn--sm {
	font-size: rem(14);
	padding: em(8) rem(16);
}

a.btn.btn--norm, input.btn.btn--norm {
	font-size: rem(16);
	padding: em(20) rem(18);
}

a.btn.btn--lg, input.btn.btn--lg {
	font-size: rem(24);
	padding: em(12) rem(24);
}

// Regular Button Styles 1 thorugh 6

a.btn--primary, input.btn--primary, a.btn--one, input.btn--one, form .nf-form-content input[type=button] {
	color: $white;
	background-color: $primary;
	border-color: $primary;

	&:hover {
		background-color: $secondary;
		border-color: $secondary;
		color: $white;
	}
}

a.btn--secondary, input.btn--secondary, a.btn--two, input.btn--two,  {
	color: $primary;
	background-color: transparent;
	border-color: $primary;

	&:hover {
		background-color: $primary;
		border-color: $primary;
		color: $white;
	}
}

a.btn--tertiary, input.btn--tertiary, a.btn--three, input.btn--three, a.btn--four, input.btn--four, a.btn--five, input.btn--five, a.btn--six, input.btn--six,{
	color: $white;
	background-color: $tertiary;
	border-color: $tertiary;

	&:hover {
		background-color: $primary;
		border-color: $primary;
		color: $white;
	}
}

a.btn--white, input.btn--white {
	color: $grey-400;
	background-color: $white;
	border-color: $grey-400;

	&:hover {
		background-color: $grey-400;
		border-color: $grey-400;
		color: $white;
	}
}

// Text Buttons

a.text-btn {
	min-width: 1px;
	text-align: left;
	@include secondary-font;
	font-size: rem(20);
	font-weight: 400;
	font-style: italic;
	color: $primary;
	border-bottom: 1px solid $primary;
	padding: rem(6) 0;
	padding-bottom: rem(3);

	&:hover {
		color: $secondary;
		border-bottom-color: $secondary;
	}

	&.btn--lg {
		font-size: rem(36);
	}
}

a.text-btn--one {
	color: $primary;
	border-bottom: 1px solid $primary;

	&:hover {
		color: $secondary;
		border-bottom-color: $secondary;
	}
}

a.text-btn--two {
	color: $secondary;
	border-bottom: 1px solid $secondary;

	&:hover {
		color: $tertiary;
		border-bottom-color: $tertiary;
	}

}

a.text-btn--three {
	color: $tertiary;
	border-bottom: 1px solid $tertiary;

	&:hover {
		color: $primary;
		border-bottom-color: $primary;
	}
}


// Arrow Buttons - Coming Soon

.arrow-btn {
	font-size: rem(16);
	position: relative;
	padding: rem(6) 0;

	&:after {
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: "Font Awesome 5 Pro";
		font-weight: 400;
		content: "\f178";
		font-size: 1.15em;
		padding-left: rem(18);
		position: relative;
		top: 1px;
		transition: padding 0.25s ease;
		padding-right: 4px;
	}

	&:hover {
		padding-right: 0;

		&:after {
			padding-left: rem(22);
			padding-right: 0;
		}
	}
}

.arrow-btn--one {
	color: $primary;

	&:hover {
		color: $secondary;
	}
}

.arrow-btn--two {
	color: $secondary;

	&:hover {
		color: $tertiary;
	}
}

.arrow-btn--three {
	color: $tertiary;

	&:hover {
		color: $primary;
	}
}
