/***********************************************************************************/
/* Editor Content - Anything that goes into Wordpress */
/***********************************************************************************/

/***********************************************************************************/
/* Basic Elements */
/***********************************************************************************/

strong, b {
	font-weight: bold;
}

*.fal, *.far, *.fab, *.fas {
	font-style: normal;
}

hr {
	height: 1px;
	width: 100%;
	display: block;
	margin: 1em 0;
	padding: 0;
	border: none;
	background: $grey-200;
}

// Page Anchors - so we don't have blue ones show up :)

a {
	color: $anchor-link;
	text-decoration: none;
	transition: color 0.25s ease, border 0.25s ease;
	
	&:hover {
		color: $anchor-hover;
		text-decoration: none;
	}
}

// Specific Phone Links (iPhone and Droid)

a[href^=tel]{
	color: inherit;
	text-decoration: none;
	border-bottom: 0;

	&:hover {
		color: inherit;
		text-decoration: none;
		cursor: text;
	}
}

img {
	max-width: 100%;
	height: auto;
}



p {
	margin: rem(20) 0;
}

ol {
	margin: 1em 0 1em 1.15em;
	li {
		list-style: decimal;
		padding: .25em 0;
		
		ol {
			margin-left: rem(24);
		}
		
	}
	
	ol {
		margin-left: 1.25em;
	}
}

ul {
	margin: 1em 0 1em 1.15em;
	li {
		list-style: disc;
		padding: .25em;

		ul {
			margin-left: rem(24);
		}
	}
}

dl {
	margin: 1em 0 1em 0;
	dt, dd {
		padding: .25em 0;
	}
	dt {
		font-weight: bold;
	}
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

i.fa, em.fa, span.fa {
	font-style: normal;

	i {
		display: none;
	}
}

blockquote {
	display: block;
	margin: 1em 0;
	padding: rem(16);
	color: $primary;
	background: $grey-100;
	border-left: 4px solid $primary;
}

blockquote p {
	margin: 0;
}

*.fal, *.far, *.fab, *.fa {
	font-style: normal;
}

// WP Images

.widget_widget_sp_image img {
	max-width: 100%;
	height: auto !important;
}

.aligncenter,
.alignleft,
.alignright,
.alignnone {
	padding: 3px;
	z-index: 1;
}

img.aligncenter, img.alignLeft, img.alignright, img.alignnone {
	max-width: 100%;
	height: auto !important;
}
.alignleft {
	float: left;
	margin: 1em 2em 1.5em 0;
}
.alignright {
	float: right;
	margin: 1em 0 1.5em 2em;
}
.aligncenter,
img.centered {
	display: block;
	margin: 1em auto 1em;
}

.no_top_margin img {
	margin-top: 0 !important;
}

.wp-caption {
	text-align: center;
	color: $grey-400;
	@media screen and (max-width: $desktop-min) {
		width: 100% !important;
		height: auto !important;
	}
}

.wp-caption .wp-caption-text {
	margin-bottom: 0;
	font-size: 12px;
	font-style: italic;
}

.video-container + p {
	margin-top: 1.5em;
}

.tag-container {
	border: 1px solid #e4e4e4;
	border-width: 1px 0;
	font-style: italic;
	font-size: 12px;
	color: #c9c9c9;
	line-height: 42px;
	margin-top: 3em;
}

.article-author {
	background: #fafafa;
	border-top: 1px solid #d7d7d7;
	padding: 3em;
	-webkit-box-shadow: inset 5px 0 0 #ededed, inset -5px -5px 0 #ededed;
}

.article-author p {
	margin-bottom: 0;
}


// Inside the wp-content or mce-content-body

.mce-content-body {
	
	div, p, ol, ul, dl, dd, table {
		line-height: 1.7em;
	}
}

// Special Additions

.mce-content-body {

	h1, h2, h3, h4, h5, h6, p {
		line-height: 1.25em !important;
		
		&.text--white {
			color: #666;
		}
	}

	ul, ol, table, p {
		&.text-white {
			color: #666;
		}
	}

	h2.special {
		font-weight: 700;
		margin-bottom: 0;
	}

	p, ol, ul, dl, dd, table {
		font-size: rem(16);
		line-height: 1.25em !important;
	}

}