/***********************************************************************************/
/* Form Fields, Inputs, Textareas (NOT IN THE WP Editor) */
/***********************************************************************************/

// Ninja Forms Default Setup

.nf-form-fields-required, .ninja-forms-req-symbol {
  display: none;
  margin: 0 0 rem(40) 0;
  padding-left: rem(10);
}

// Use Body to grab elements away from NF styles

body {

	// Form Spacing

	.nf-multi-cell .nf-cell {
		padding-left: 10px;
		padding-right: 10px;
	}

	.nf-form-content {
		padding: 0;
		max-width: 100%;
	}

	// Message Before Redirect

	.nf-response-msg {
		margin: rem(150) 0;
		& * {
			color: $primary;

		}
	}

	.nf-response-msg p {
		font-size: rem(18);
		border: 1px solid $primary;
		background-color: $primary;
		text-align: center;
		color: $white;
		padding: rem(10);
	}

	// After Form Error Message

	.nf-after-form-content .nf-error-msg {
		border: 1px solid $red;
		background-color: $red;
		text-align: center;
		color: $white;
		padding: rem(10);
		@include primary-font;
		margin-top: rem(30);
		margin-left: rem(10);
		margin-right: rem(10);
	}

	.html-wrap {
		font-size: rem(18);
		padding-left: rem(20);
		margin-top: rem(10);
	}

	.list-radio-wrap .nf-field-element li label, .list-checkbox-wrap .nf-field-element li label {
		margin-left: rem(50) !important;
	}

	// Labels

	.nf-form-content label {
		@include primary-font;
		font-weight: 400;
	}

	.nf-form-content {
		input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea {
			display: inline-block;
			width: 100%;
			font-size: 18px !important;
			transition: border 0.25s;
			-webkit-appearance: none;
			border-radius: 0;
			border: 2px solid transparent;
			background-color: $white;
			padding: rem(18);
			color: $grey-300;
			@include secondary-font;

			&:focus {
				border-color: $primary;
			}
		}
		textarea {
			resize: none;
		}
		.submit-wrap {
			text-align: center;
		}
	}

}

form {

	label {
		display: block;
		margin-bottom: .5em;
	}

	input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea {
		display: inline-block;
		width: 100%;
		font-size: 16px;
		transition: border 0.25s;
		-webkit-appearance: none;
		border-radius: 0;
		border: 1px solid #F1F1F1;
		background-color: #F1F1F1;
		color: $grey-400;
		padding: rem(18);

		&:focus {
			border-color: $grey-100;
		}
	}

	textarea {
		resize: vertical;
	}

	select {
		display: block;
		width: 100%;
		height: 40px;
		font-size: 16px;
		appearance: none;
		height: 55px;
		padding-left: rem(18);
		border-radius: 0;
		border-color: #f1f1f1;
		background-color: #F1F1F1;
		color: $grey-400;
		//background-image: url('images/select-caret.svg');
		//background-position: 96% 50%;
		background-repeat: no-repeat;

		&:hover {
			cursor: pointer;
		}

		&:focus {
			outline: none;
			border-color: $grey-100;
		}
	}

	select::-ms-expand {
		display: none;
	}

	@include placeholders($grey-400);
}

