/***********************************************************************************/
/* Tiny MCE Updates */
/***********************************************************************************/
/***********************************************************************************/
/* CSS Variables */
/***********************************************************************************/
/***********************************************************************************/
/* Screen Sizes */
/***********************************************************************************/
/***********************************************************************************/
/* Mixins */
/***********************************************************************************/
/***********************************************************************************/
/* All Typeography */
/***********************************************************************************/
body { font-size: 16px; line-height: 1.25em; color: #2B2B2B; -webkit-font-smoothing: antialiased; font-family: "Lora", serif; font-style: normal; font-weight: 400; }

h1, h2, h3, h4, h5, h6 { margin-bottom: 1.25rem; line-height: 1.2em; }

h1, h2.header--h1, h3.header--h1, h4.header--h1, h5.header--h1, h6.header--h1, .elementor-widget-heading h1.elementor-heading-title, p.header--h1 { color: #2B2B2B; font-family: "Poppins", sans-serif; font-style: normal; font-weight: 400; font-size: 4.125rem; line-height: 1.15; }

@media only screen and (max-width: 667px) { h1, h2.header--h1, h3.header--h1, h4.header--h1, h5.header--h1, h6.header--h1, .elementor-widget-heading h1.elementor-heading-title, p.header--h1 { font-size: 2.75rem; } }

@media only screen and (max-width: 375px) { h1, h2.header--h1, h3.header--h1, h4.header--h1, h5.header--h1, h6.header--h1, .elementor-widget-heading h1.elementor-heading-title, p.header--h1 { font-size: 2.125rem; } }

h2, h1.header--h2, h3.header--h2, h4.header--h2, h5.header--h2, h6.header--h2, .elementor-widget-heading h2.elementor-heading-title, p.header--h2 { color: #2B2B2B; font-family: "Poppins", sans-serif; font-style: normal; font-weight: 400; font-size: 2.8125rem; line-height: 1.3; }

@media only screen and (max-width: 667px) { h2, h1.header--h2, h3.header--h2, h4.header--h2, h5.header--h2, h6.header--h2, .elementor-widget-heading h2.elementor-heading-title, p.header--h2 { font-size: 2.375rem; } }

@media only screen and (max-width: 375px) { h2, h1.header--h2, h3.header--h2, h4.header--h2, h5.header--h2, h6.header--h2, .elementor-widget-heading h2.elementor-heading-title, p.header--h2 { font-size: 2.25rem; } }

h3, h1.header--h3, h2.header--h3, h4.header--h3, h5.header--h3, h6.header--h3, .elementor-widget-heading h3.elementor-heading-title, p.header--h3 { color: #2B2B2B; font-family: "Poppins", sans-serif; font-style: normal; font-weight: 400; font-size: 2.375rem; line-height: 1.31; }

@media only screen and (max-width: 667px) { h3, h1.header--h3, h2.header--h3, h4.header--h3, h5.header--h3, h6.header--h3, .elementor-widget-heading h3.elementor-heading-title, p.header--h3 { font-size: 2.125rem; } }

@media only screen and (max-width: 375px) { h3, h1.header--h3, h2.header--h3, h4.header--h3, h5.header--h3, h6.header--h3, .elementor-widget-heading h3.elementor-heading-title, p.header--h3 { font-size: 1.875rem; } }

h3.widget-title, h1.header--h3.widget-title, h2.header--h3.widget-title, h4.header--h3.widget-title, h5.header--h3.widget-title, h6.header--h3.widget-title, .elementor-widget-heading h3.elementor-heading-title.widget-title, p.header--h3.widget-title { color: #32219C; font-size: 1.25rem; line-height: 1.875rem; text-decoration: underline; }

h4, h1.header--h4, h2.header--h4, h3.header--h4, h5.header--h4, h6.header--h4, .elementor-widget-heading h4.elementor-heading-title, p.header--h4 { color: #2B2B2B; font-family: "Poppins", sans-serif; font-style: normal; font-weight: 400; font-size: 1.875rem; line-height: 1.6666; }

@media only screen and (max-width: 667px) { h4, h1.header--h4, h2.header--h4, h3.header--h4, h5.header--h4, h6.header--h4, .elementor-widget-heading h4.elementor-heading-title, p.header--h4 { font-size: 1.75rem; } }

@media only screen and (max-width: 375px) { h4, h1.header--h4, h2.header--h4, h3.header--h4, h5.header--h4, h6.header--h4, .elementor-widget-heading h4.elementor-heading-title, p.header--h4 { font-size: 1.625rem; } }

h5, h1.header--h5, h2.header--h5, h3.header--h5, h4.header--h5, h6.header--h5, .elementor-widget-heading h5.elementor-heading-title, p.header--h5 { color: #2B2B2B; font-family: "Poppins", sans-serif; font-style: normal; font-weight: 400; font-size: 1.5rem; line-height: 1.58; }

@media only screen and (max-width: 667px) { h5, h1.header--h5, h2.header--h5, h3.header--h5, h4.header--h5, h6.header--h5, .elementor-widget-heading h5.elementor-heading-title, p.header--h5 { font-size: 1.5rem; } }

@media only screen and (max-width: 375px) { h5, h1.header--h5, h2.header--h5, h3.header--h5, h4.header--h5, h6.header--h5, .elementor-widget-heading h5.elementor-heading-title, p.header--h5 { font-size: 1.375rem; } }

h6, h1.header--h6, h2.header--h6, h3.header--h6, h4.header--h6, h5.header--h6, .elementor-widget-heading h6.elementor-heading-title, p.header--h6 { color: #2B2B2B; font-family: "Lora", serif; font-style: normal; font-weight: 400; font-size: 1.375rem; line-height: 1.635; }

@media only screen and (max-width: 667px) { h6, h1.header--h6, h2.header--h6, h3.header--h6, h4.header--h6, h5.header--h6, .elementor-widget-heading h6.elementor-heading-title, p.header--h6 { font-size: 1.125rem; } }

@media only screen and (max-width: 375px) { h6, h1.header--h6, h2.header--h6, h3.header--h6, h4.header--h6, h5.header--h6, .elementor-widget-heading h6.elementor-heading-title, p.header--h6 { font-size: 1.125rem; } }

h1.text--white, h2.text--white, h3.text--white, h4.text--white, h5.text--white, h6.text--white, p.text--white, table.text--white, ul.text--white, ol.text--white { color: #FFFFFF; }

h1.text--black, h2.text--black, h3.text--black, h4.text--black, h5.text--black, h6.text--black, p.text--black, table.text--black, ul.text--black, ol.text--black { color: #000000; }

h1.text--primary, h2.text--primary, h3.text--primary, h4.text--primary, h5.text--primary, h6.text--primary, p.text--primary, table.text--primary, ul.text--primary, ol.text--primary { color: #32219C; }

h1.text--secondary, h2.text--secondary, h3.text--secondary, h4.text--secondary, h5.text--secondary, h6.text--secondary, p.text--secondary, table.text--secondary, ul.text--secondary, ol.text--secondary { color: #4556E5; }

h1.text--tertiary, h2.text--tertiary, h3.text--tertiary, h4.text--tertiary, h5.text--tertiary, h6.text--tertiary, p.text--tertiary, table.text--tertiary, ul.text--tertiary, ol.text--tertiary { color: #26C6A9; }

h1.text--weight-400, h2.text--weight-400, h3.text--weight-400, h4.text--weight-400, h5.text--weight-400, h6.text--weight-400, p.text--weight-400, table.text--weight-400, ul.text--weight-400, ol.text--weight-400 { font-weight: 400; }

h1.text--weight-700, h2.text--weight-700, h3.text--weight-700, h4.text--weight-700, h5.text--weight-700, h6.text--weight-700, p.text--weight-700, table.text--weight-700, ul.text--weight-700, ol.text--weight-700 { font-weight: 700; }

h1.text--weight-300, h2.text--weight-300, h3.text--weight-300, h4.text--weight-300, h5.text--weight-300, h6.text--weight-300, p.text--weight-300, table.text--weight-300, ul.text--weight-300, ol.text--weight-300 { font-weight: 300; }

body h1 + p, body h2 + p, body h3 + p, body h4 + p, body h5 + p, body h6 + p, .wp_content h1 + p, .wp_content h2 + p, .wp_content h3 + p, .wp_content h4 + p, .wp_content h5 + p, .wp_content h6 + p { margin-top: 0; }

/***********************************************************************************/
/* Editor Content - Anything that goes into Wordpress */
/***********************************************************************************/
/***********************************************************************************/
/* Basic Elements */
/***********************************************************************************/
strong, b { font-weight: bold; }

*.fal, *.far, *.fab, *.fas { font-style: normal; }

hr { height: 1px; width: 100%; display: block; margin: 1em 0; padding: 0; border: none; background: #E0E0E0; }

a { color: #32219C; text-decoration: none; transition: color 0.25s ease, border 0.25s ease; }

a:hover { color: #4556E5; text-decoration: none; }

a[href^=tel] { color: inherit; text-decoration: none; border-bottom: 0; }

a[href^=tel]:hover { color: inherit; text-decoration: none; cursor: text; }

img { max-width: 100%; height: auto; }

p, ol, ul, dl, dd, table { font-size: 1rem; line-height: 1.7; }

p { margin: 1.25rem 0; }

ol { margin: 1em 0 1em 1.15em; }

ol li { list-style: decimal; padding: .25em 0; }

ol li ol { margin-left: 1.5rem; }

ol ol { margin-left: 1.25em; }

ul { margin: 1em 0 1em 1.15em; }

ul li { list-style: disc; padding: .25em; }

ul li ul { margin-left: 1.5rem; }

dl { margin: 1em 0 1em 0; }

dl dt, dl dd { padding: .25em 0; }

dl dt { font-weight: bold; }

b, strong { font-weight: bold; }

i, em { font-style: italic; }

i.fa, em.fa, span.fa { font-style: normal; }

i.fa i, em.fa i, span.fa i { display: none; }

blockquote { display: block; margin: 1em 0; padding: 1rem; color: #32219C; background: #F7F7F7; border-left: 4px solid #32219C; }

blockquote p { margin: 0; }

*.fal, *.far, *.fab, *.fa { font-style: normal; }

.widget_widget_sp_image img { max-width: 100%; height: auto !important; }

.aligncenter, .alignleft, .alignright, .alignnone { padding: 3px; z-index: 1; }

img.aligncenter, img.alignLeft, img.alignright, img.alignnone { max-width: 100%; height: auto !important; }

.alignleft { float: left; margin: 1em 2em 1.5em 0; }

.alignright { float: right; margin: 1em 0 1.5em 2em; }

.aligncenter, img.centered { display: block; margin: 1em auto 1em; }

.no_top_margin img { margin-top: 0 !important; }

.wp-caption { text-align: center; color: #2B2B2B; }

@media screen and (max-width: 1170px) { .wp-caption { width: 100% !important; height: auto !important; } }

.wp-caption .wp-caption-text { margin-bottom: 0; font-size: 12px; font-style: italic; }

.video-container + p { margin-top: 1.5em; }

.tag-container { border: 1px solid #e4e4e4; border-width: 1px 0; font-style: italic; font-size: 12px; color: #c9c9c9; line-height: 42px; margin-top: 3em; }

.article-author { background: #fafafa; border-top: 1px solid #d7d7d7; padding: 3em; -webkit-box-shadow: inset 5px 0 0 #ededed, inset -5px -5px 0 #ededed; }

.article-author p { margin-bottom: 0; }

.mce-content-body div, .mce-content-body p, .mce-content-body ol, .mce-content-body ul, .mce-content-body dl, .mce-content-body dd, .mce-content-body table { line-height: 1.7em; }

.mce-content-body h1, .mce-content-body h2, .mce-content-body h3, .mce-content-body h4, .mce-content-body h5, .mce-content-body h6, .mce-content-body p { line-height: 1.25em !important; }

.mce-content-body h1.text--white, .mce-content-body h2.text--white, .mce-content-body h3.text--white, .mce-content-body h4.text--white, .mce-content-body h5.text--white, .mce-content-body h6.text--white, .mce-content-body p.text--white { color: #666; }

.mce-content-body ul.text-white, .mce-content-body ol.text-white, .mce-content-body table.text-white, .mce-content-body p.text-white { color: #666; }

.mce-content-body h2.special { font-weight: 700; margin-bottom: 0; }

.mce-content-body p, .mce-content-body ol, .mce-content-body ul, .mce-content-body dl, .mce-content-body dd, .mce-content-body table { font-size: 1rem; line-height: 1.25em !important; }

h1, h2, h3, h4, h5, h6 { margin-bottom: .25em; margin-top: .25em; line-height: 1.2em; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }
