/***********************************************************************************/
/* Tiny MCE Updates */
/***********************************************************************************/

@import "../build/variables";
@import "../build/mixins";
@import "../build/type";
@import "../partials/editor";

// OverRides

h1, h2, h3, h4, h5, h6 {
	margin-bottom: .25em;
	margin-top: .25em;
	line-height: 1.2em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}