/***********************************************************************************/
/* All PAGES */
/***********************************************************************************/

// Page Structure

.full-wrapper {
	background: $white;
	overflow: hidden;

	@include ipad-landscape {
		padding-top: 0;
	}
}

.container {
	@include container();
	@include clearfix;
	clear: both;

	@media screen and (max-width: $desktop-min) {
		max-width: 90%;
	}
}

.wide-container {
	max-width: 1400px;
	margin: auto;

	@media screen and (max-width: $desktop-min) {
		max-width: 90%;
	}
}

.row {
	@include clearfix;
	clear: both;
}

.table {
	display: table;
	margin: 0 auto;
}

section {
	clear: both;
}

.wow {
  visibility: hidden;
}

/***********************************************************************************/
/* Social Icons Global */
/***********************************************************************************/

.social-icons {
	margin: 0;
	padding: 0;
	margin-top: rem(10);
	display: flex;
	flex-wrap: wrap;

	@include ipad-landscape {
		justify-content: center;
	}

	li {
		list-style: none;
		flex-shrink: 0;
		margin: 0;
		margin-right: 15px;

		@include ipad-landscape {
			margin: 0 5px;
		}
	}

	a {
		display: block;
		color: $primary;
		font-size: rem(28);
		transition: color 0.3s ease-in-out;

		@include ipad-landscape {
			font-size: rem(22);
		}

		&:hover {
			color: $secondary;
		}
	}
}

/***********************************************************************************/
/* Featured Posts Module */
/***********************************************************************************/

.featured-posts {
	padding-bottom: rem(60);

	&__header {
		display: flex;
		flex-flow: row wrap;
		align-items: center;

		@include portrait-mode {
			flex-direction: column nowrap;
		}

		h2 {
			margin-bottom: 0;
			color: $primary;
		}

		a {
			margin-left: auto;

			@include portrait-mode {
				display: none;
			}
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-top: rem(36);

		@include ipad-portrait {
			.blog-post {
				&:nth-child(3n) {
					display: none;
				}
			} 
		}	

		@include portrait-mode {
			.blog-post {
				margin-bottom: 0;
			}
			.blog-post {
				&:nth-child(2n) {
					display: none;
				}
			} 
		}		
	}

	&__button-mobile {
		display: none;

		@include portrait-mode {
			display: block;
			text-align: center;
			margin-top: rem(20);
			margin-bottom: rem(35);
		}
	}
}

/***********************************************************************************/
/* 404 Page */
/***********************************************************************************/

.error-page {
	padding: rem(60) 0;

	@include ipad-portrait {
		padding: rem(40) 0; 
	}
}