/***********************************************************************************/
/* Wordpress Blog Posts */
/***********************************************************************************/


/***********************************************************************************/
/* INDEX and POSTS LOOP  */
/***********************************************************************************/

// Structure

.blog-wrapper {
	padding: rem(120) 0 rem(80);
}

.blog-outer {
	@include clearfix;
	&__content {
		@include span(8 of 12);
	}

	&__sidebar {
		@include push(1);
		@include span(3 of last);
	}

}

// The Post Loop

.blog-post {
	@include span(4 of 12);
	margin-bottom: rem(60);
	padding-bottom: rem(30);
	display: flex;
	flex-direction: column;

	&:nth-child(3n) {
		@include last;
	}

	@include ipad-portrait {
		@include last-reset(3n);
		@include span(6 of 12);

		&:nth-child(2n) {
			@include last;
		} 
	}

	@include portrait-mode {
		@include last-reset(2n);
		@include span(12 of 12);
		float: none;
		margin-bottom: rem(30);

		&:nth-child(2n) {
			margin-right: auto !important;
		} 
	}

	&__image {

		img {
			display: block;
		}
	}

	&__cat {
		padding-top: rem(16);
		
		h6 {
			font-size: rem(16);
		}

		h6 > a {
			color: $tertiary;

			&:hover {
				color: $secondary;
			}
		}
	}
	
	&__content {

		h4 > a {
			color: $primary;

			&:hover {
				color: $tertiary;
			}
		}

	}
}

// The Blog Sidebar

.blog-sidebar {

	.sidebar-widget {
		margin: rem(16) 0;

		&:first-of-type {
			margin-top: 0;
		}

		> h5 {
			margin-bottom: rem(16);
		}
	}

	ul {
		margin: 0;
		list-style: none;

		li {
			list-style: none;
			padding: 0 0 0 rem(2);
			margin: 0;
		}
	}

}

// WP Page Navi

.wp-page-navi {
	font-size: rem(16);

	span.pages {
		display: none;
	}

	span, a {
		border: none;
		display: inline-block;
		margin: 0 rem(6);
	}
	
	span.current {
		color: $primary;
		font-weight: 700;
	}

}

// Social Share

.social-share {
	margin: rem(40) 0 0 0;
}

// Post Style Page to Page Navigation

div.post-navigation {
	clear: both;
	padding: 1.5em 0 0 0;
}
	
.prev-post-link a, .next-post-link a {
	display: inline-block;
	margin-right: .35em;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	i {
		font-style: normal;
	}
}

/***********************************************************************************/
/* Single Post */
/***********************************************************************************/

.single-post-header {
	padding: rem(30) 0 rem(65);
	text-align: center;

	h1 {
		@extend h2;
	}
}

.single-post-outer {
	@include clearfix;
	padding: 0 0 rem(60);

	&__content {
		@include span(8 of 12);

		.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
			padding-left: 0;
		}
	}

	&__sidebar {
		@include push(1);
		@include span(3 of 12 last);
	}
}

.comments-area {
	margin-top: 2em;
	padding: 2em 0;
}
	
ol.comment-list {
	margin: 1em 0 1em 0;
	list-style: none;
	
	li {
		margin: 0 0 1em;
		padding: 1.5em;
		list-style: none;
		background: #eee;
		
		a {
			font-size: em(14);
		}
		
		ul.children {
			li {
			}
		}
	}
	
	li:nth-child(even) {
		background: #f6f6f6;
	}
	
	.comment-author {
		margin-bottom: 1em;
	}
}

// Related Posts

.related-posts {
	padding-top: rem(60);
	
	&__head {
		margin-bottom: rem(20);
	}

}


// Responsive Posts

@include iphone6-plus {

	// Drop Blog to Single Column

	.blog-post {
		@include span(12 of 12 last);
	}
}
