/***********************************************************************************/
/* Accordion Code */
/***********************************************************************************/

dl.accordion {
	
	.block-faq {
		margin-bottom: 1em;
		border: 1px solid transparent;
	}
	
	br {
		display: none !important;
	}

	dt {
		clear: left;

		&:hover {
			a.faq_icon, .faq_title {
				color: $color2;
			}
		}
	}
	
	.title-faq {
		margin-left: 50px;
		margin-bottom: 1em;
		display: block;
		text-decoration: none;
		@include color-transition;
		color: $color1;
		font-style: normal;
		font-size: em(18);

		&:hover {
			cursor: pointer;
		}
	}
	
	dd {
		display: none;
		margin-left: 50px;
		@include font-size(14px);
	}

	a.icon-faq {
		display: block;
		float: left;
		position: relative;
		top: -3px;
	    -moz-transition: none;
	    -webkit-transition: none;
	    -o-transition: color 0 ease-in;
	    transition: none;
	    font-size: 28px;
	}

}