// Featured Blog Post

.featured_post {
	margin-top: em(60);
	@include push(1);
	@include span(10 of 12);
	margin-bottom: em(60);

	@include iphone6-plus {
		@include span(12 of 12);
		float: none;
		margin: 0;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	img {
		max-width: 100%;
		height: auto !important;
	}

	h2 {
		text-align: center;
	}

	.featured-post-wrapper {
		margin-top: em(60);

		@include iphone6-plus {
			margin-top: em(30);
			margin-bottom: em(30);
		}
	}

	.post-image {
		@include span(3 of 10);

		@include iphone6-plus {
			@include span(12 of 12);
			@include last;
			float: none;
			margin-bottom: 2em;
		}

		img {
			transition: opacity .3s linear;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	.post-content {
		@include span(7 of 10 last);

		@include iphone6-plus {
			@include span(12 of 12 last);
			float: none;
			margin: 0;
		}

		h4 a {
			color: $color2;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				color: $color1;
			}
		}

		a.moretag {
			display: none;
		}

	}

	p.read-more {
		clear: both;
		text-align: center;
		margin: 1em auto;
		padding-top: 2em;
	}

}