/***********************************************************************************/
/* Homepage ONLY */
/***********************************************************************************/
.hero-home {
  z-index: 1;
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 97%;
    height: 95%;
    transform: translate(-50%, -50%);
    border: 1px solid $tertiary;
    z-index: -1;
  }
  .elementor-background-overlay {
    z-index: -1;
  }
}
.service-block {
  .elementor-image-box-title {
    position: relative;
    padding-top: rem(20);
    margin-top: rem(10);
    &:before {
    	position: absolute;
    	content: '';
    	top: 0;
    	left: 0;
      height: 1px;
        width: rem(100);
        background-color: $primary;
    }
  }
}
