/***********************************************************************************/
/* Testimonials */
/***********************************************************************************/

.testimonials {
	margin-top: rem(70);
}

.testimonial {
	width: 100%;
	min-height: 240px;

	&__content {
		max-width: 948px;
		margin: auto;
		text-align: center;

		p {
			color: $dark-grey;
			font-size: rem(22);
			line-height: rem(36);
		}
	}

	&__author {
		text-align: center;

		.author-name {
			font-weight: 700;
			text-transform: uppercase;
		}

		.author-co {
			font-weight: 300;
		}
	}
}

.cycle-pager {
	clear: both;
	text-align: center;
	padding-top: rem(20);
	
	span {
		display: inline-block;
		width: 45px;
		height: 5px;
		margin: 0 rem(10);
		background-color: #C4C4C4;
		transition: background 0.3s;

		&.cycle-pager-active {
			background-color: $tan;
		}

		&:hover {
			cursor: pointer;
		}
	}
}