/*-------------------------------------- Team Members ---------------------------------------*/

// Applies to All Layouts

div.team_members {
	margin: 2em 0;
	clear: both;
	@include clearfix;

	ul {
		margin: 0;
		padding: 0;
	}

	ul li.member {
		list-style: none;
		display: block;
		padding: 0;
	}

	.m_social {

		a {
			font-size: 32px;
			color: $color3;
			@include all-transition;
			margin-left: .3em;
			&:hover {
				color: $color1;
			}
		}
		a:first-child {
			margin-left: 0;
		}
	}
}

// Single Row Elements Only

div.team_members.single_line {

	ul li {
		@include span(12 of 12);
		@include clearfix;
		@include last();
		margin-bottom: 3em;

		div.m_left {
			@include span(3 of 12);

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				height: auto;
			}
		}

		div.m_right {
			@include span(9 of 12);
			@include last();

			p.member_title {
				font-size: em(14);
				font-style: italic;
				margin-top: 0;
			}
		}

		.m_social {
			padding-top: .35em;
			
		}
	}

	@include iphone5-landscape {
		ul li {

			margin-bottom: 1.5em;

			div.m_left, div.m_right {
				@include span(12 of 12);
				@include last();
				text-align: center;
			}
			div.m_right {
				margin-top: 1.5em;
			}
		}
	}

	ul li:last-child {
		margin-bottom: 0;
	}
}

// Medium Team Members

div.team_members.medium_team {

	ul li {
		margin-bottom: 3em;
		@include span(4 of 12);
		
		&:nth-child(3n) {
			@include last;
		}
	}

	ul li:nth-child(4n) {
		clear: left;
	}

	.m_image {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.content {
		background: $color7;
		text-align: center;

		h5 {
			color: $color1;
			padding-top: .5em;
		}

		p.member_title {
			margin: .25em 0;
			font-weight: bold;
			font-style: italic;
		}
	}

	.about_text {
		@include font-size(14px);
		padding: 0 1em;
	}

	.m_social {
		margin-top: 1em;
		padding-bottom: .5em;
		border-bottom: 5px solid $color3;
		@include clearfix;
		text-align: center;
		padding-left: 2em;

		a {
			@include font-size(36px);
			border-right: 1px solid $color5;
			padding-right: .5em;
			margin-right: .25em;

			&:last-child {
				border: none;
			}
		}
	}

	@include ipad-portrait {

		.m_social {
			padding-left: 0;
		}

		.m_social a {
			border: none;
			margin-right: 0;
			padding-right: 0;
		}

	}

	@include iphone6-landscape {
		ul li {
			@include omega-reset(3n);
			@include span(6 of 12);
			&:nth-child(2n) {
				@include last;
			}
			margin-bottom: 3em;
		}

		.m_image img {
			width: 100%;
		}
	}

	@include iphone6-plus {
		ul li {
			@include omega-reset(2n);
			@include span(12 of 12);
			@include last;
			margin-bottom: 3em;
		}
	}
}

// Large Team Members

div.team_members.large_team {

	margin: 0;

	ul li {
		@include span(3 of 12);
		
		&:nth-child(4n) {
			@include last;
		}

		margin-bottom: 3em;
		
	}

	.m_image {
		position: relative;

		img {
			display: block;
			max-width: 100% !important;
			width: 100%;
			height: auto !important;
		}
	}

	.member_inside {
		position: relative;
	}

	.content {
		position: absolute;
		bottom: 0;
		left: 0;
		color: $color8;
		background: rgba(14,118,188, 0.85);
		width: 99.8%;
		padding: .5em;

		h5 {
			color: $color8;
			padding-top: .15em;
		}

		p {
			margin: 0;
			@include font-size(14px);
		}

	}

	.m_social {
		margin-top: .75em;
	}

	@include ipad-portrait {
		ul li {
			@include omega-reset(4n);
			@include span(4 of 12);
			
			&:nth-child(3n) {
				@include last;
			}
		}

		.m_image img {
			width: 100%;
		}

		.content {
			width: 100%;
		}
	}

	@include iphone6-landscape {
		ul li {
			margin-bottom: 3em;
			@include omega-reset(3n);
			@include span(6 of 12);
			
			&:nth-child(2n) {
				@include last;
			}
			
		}
	}

	@include iphone6-plus {
		ul li {
			@include omega-reset(2n);
			@include span(12 of 12);
			@include last;
			margin-bottom: 3em;
		}
	}

}

// Single Team Members - LARGE

section.team_single {
	padding-top: 0;

	.team_feature {
		background: $color6;
		@include clearfix;
		margin-bottom: 2em;

		.team_thumb img {
			display: block;
		}
	}

	.team_content {

		hr {
			background: darken($color5, 12%);
			width: 70%;
		}

		h2 {
			margin-top: 1em;
			margin-bottom: 0;
		}

		h6 {
			@include body-font;
			@include font-size(20px);
			font-style: italic;
		}
	}

	.team_social {

		margin-top: 1em;

		a {
			font-size: 32px;
			color: $color3;
			@include all-transition;
			margin-left: .3em;
			&:hover {
				color: $color1;
			}
		}
		a:first-child {
			margin-left: 0;
		}
	}

	.member_content {
		h6 {
			font-weight: 400;
		}
	}

	@include iphone6-plus-landscape {
		.team_content h2 {
			margin-top: .5em;
		}
	}

	@include iphone5-landscape {
		.team_feature {
			.team_thumb, .team_content {
				@include span(6 of 12);
			}

			.team_content {
				@include omega();
			}
		}
	}

	@include iphone6-plus {
		.team_feature {
			padding: 1em;
			text-align: center;

			.team_thumb img {
				display: block;
				margin: auto;
			}
			.team_thumb, .team_content {
				@include span(12 of 12);
			}

			.team_content {
				@include omega();
			}
		}
	}

}

.breadcrumbs {
	font-family: $font-family-2;
	font-weight: 400;
	font-style: italic;
	@include font-size(14px);
	margin-bottom: .75em;

	a {
		color: $body-color;
		text-decoration: none;
	}
}

